@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 32px;
}

form.submit button {
  float: inline-start;
  width: 30%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 25px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 0%;
  max-width: 120px;
}

/* search button */
form.class {
  box-sizing: border-box;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
  margin-left: 0%;
  max-width: 200px;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: 0%;
  max-width: 50px;
}

form.search button:hover {
  background: #929394;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

/* subject class */
.subject .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subject .boxes .box {
  margin: 20px 0;
  width: calc(100% / 2 - 50px);
  text-align: left;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.subject .boxes .box:hover {
  background: black;
  color: #fff;
}
.subject .boxes .box:hover .topic,
.subject .boxes .box:hover p {
  color: #0e2431;
  transition: all 0.4s ease;
}
.subject .boxes .box:hover .topic,
.subject .boxes .box:hover p {
  color: #fff;
}

.sub-box {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
}

.title {
  font-weight: 500;
}

.topic {
  font-weight: 900;
}

.grade {
  width: 50px;
  background-color: #3de713;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 5px;
  font-weight: 600;
  text-align: center;
}

.section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .sub-box {
    display: block;
  }
}
