@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: inter;
  padding-top: 110px;
  text-align: center;
  background-color: white;
}

h1 {
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

button {
  background-color: #f4f4f4;
  color: rgb(0, 0, 0);
  padding: 12px 0px;
  margin-bottom: 14px;
  border: none;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  width: 20%;
  font-family: "inter";
}

button:hover {
  background-color: #b6b0a3;
  color: black;
}

button:active {
  background-color: #8d897e;
  box-shadow: 0 2px #8d897e;
  transform: translateY(2px);
}

.role-button {
  display: flex;
  flex-direction: column;
}
